<header id="page-header">
  <%# = favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'https://s3.amazonaws.com/...../favicon.ico', :rel => 'shortcut icon' %>

  <div id="masthead">
    <h1><%= link_to 'Flix', root_path %></h1>
  </div>
</header>

<%#= favicon_link_tag 'https://s3.amazonaws.com/...../favicon.ico', :rel => 'shortcut icon' %>
