<aside id="sidebar">
  <nav>
    <ul>
      <li class="accueil">
        <%= link_to 'Acceuil', page01_path, class: 'button' %>
      </li>

      <li class="all-movies">
        <%= link_to 'Tous les films', movies_path, class: 'button' %>
      </li>
      <li class="create-movie">
        <%= link_to 'Ajouter un nouveau film', new_movie_path, class: 'button' %>
      </li>

    </ul>
  </nav>
</aside>